*{
    font-family: Roboto;
}

body{
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

.header-logo {
    font-family: Roboto;
    color: #f9faf8;
    font-size: 18px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

ul li a {
    font-family: Roboto;
    color: #ced0cb;
    text-decoration: none;
    padding: 10px 0;
    font-size: 12px;
}

.section2{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

.title{
    color: #f9faf8;
}

.text{
    color: #ced0cb;
}
button{
    font-family: Roboto;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 8px 28px;
    font-weight: 600;
    border: none;
}
.img1{
    width: 370px;
    height: 180px;
    
}

.body1{
    flex: 1;
    margin-right: 40px;
}

.body2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}

.rando{
    color: #1f2937;
    font-weight: 900;
    font-size: 24px;
    padding-top: 20px;
}

figure{
    width: 130px;
}

.caption{
    color: #747672;
    font-size: 12px;
    padding-bottom: 60px;
}

.blank{
    border-radius: 5px;
    border: 3px solid rgba(45, 143, 241, 0.89);
}

.body3{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
}

.main-text{
    font-size: 26px;
    color: #1f2937;
    font-weight: 300;
    width: 800px;
    padding-bottom: 0;
}